/*----- Main Window -----*/
window {
    background-color: rgba(0, 0, 0, 0.87);
    border: 2px solid #1688f0;
    border-radius: 6px;
}

/*----- Outer Box -----*/
#outer-box {
    padding: 12px;
    background-color: transparent;
}

/*----- Input Bar -----*/
#input {
    padding: 4px;
    border: 1px solid #1688f0;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
}

/*----- Scroll Window -----*/
#scroll {
    padding: 8px;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
}

/*----- Inner Box -----*/
#inner-box {
    padding: 8px;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
}

/*----- Entry -----*/
#entry {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
}

#entry.normal {
    background-color: rgba(0, 0, 0, 0.87);
    color: #ffffff;
}

#entry.urgent {
    background-color: #f06b74;
    color: #000000;
}

#entry.active {
    background-color: #98d379;
    color: #000000;
}

#entry:selected {
    border: 2px solid #1688f0;
}

/*----- Text -----*/
#text {
    background-color: transparent;
    color: #ffffff;
}

#text:selected {
    background-color: #1688f0;
    color: #ffffff;
}

/*----- Image -----*/
#img {
    background-color: transparent;
}
